**/*~
**/#*

build

data/test/liberation_mono_glyph_data__*.txt
data/test/*.wav

src/third_party/freetype-2.13.3/*
!src/third_party/freetype-2.13.3/LICENSE.TXT
!src/third_party/freetype-2.13.3/builds/
!src/third_party/freetype-2.13.3/builds/*
!src/third_party/freetype-2.13.3/builds/**/*
!src/third_party/freetype-2.13.3/src/
!src/third_party/freetype-2.13.3/src/*
!src/third_party/freetype-2.13.3/src/**/*
!src/third_party/freetype-2.13.3/include/
!src/third_party/freetype-2.13.3/include/*
!src/third_party/freetype-2.13.3/include/**/*

## todo: if we find a use for windows metadata codegen, put the script somewhere more sensible
src/os/core/Windows/*